.store-item {
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgba(248, 248, 248, 0.815);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  font-family: arial;
}

.store-item-name {
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}

.store-item-name:hover {
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
}

.store-item-buttons {
  text-align: start;
}