<nav class="main-navigation">
  <ul class="nav-list">
    <li class="nav-list-item"><a class="nav-list-button" [routerLink]="['/']" routerLinkActive="active-nav-list-button" [routerLinkActiveOptions]="{ exact: true }">Store</a></li>
    <li class="nav-list-item"><a class="nav-list-button" [routerLink]="['/cart']" routerLinkActive="active-nav-list-button" [routerLinkActiveOptions]="{ exact: true }">Cart</a></li>
    <li class="nav-list-item"><a class="nav-list-button" [routerLink]="['/shipping']" routerLinkActive="active-nav-list-button" [routerLinkActiveOptions]="{ exact: true }">Shipping prices</a></li>
  </ul>
</nav>