@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400&display=swap");
.top-bar-header {
  padding: 0 16px;
  width: 100%;
  height: 68px;
  background-color: #ffffff;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top-bar-logo {
  text-decoration: none;
}

.top-bar-logo:hover {
  color: rgb(119, 107, 107);
}

.top-bar-title {
  font-size: 32px;
  color: #333;
  margin: 0;
  font-family: "Oleo Script", cursive;
}

.top-bar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 18px 0 rgba(116, 96, 99, 0.39),
    0 1px 2px 0 rgba(117, 98, 102, 0.33);
}

.search-button {
  background-color: #b6ad2b77;
  display: none;
}

.account-button {
  background-color: #29806a77;
}

.cart-button {
  background-color: #b62b2b77;
}

.shopping-cart {
  color: #ffffff;
}

.top-bar-buttons {
  display: flex;
  justify-content: center;
}

.search-bar-component {
  margin-top: 9px;
  margin-right: 6px;
  display: block;
}

@media screen and (max-width: 800px) {
  .search-bar-component {
    display: none;
    margin-top: 0px;
    margin-right: 0px;
    height: 54px;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 68px;
    background-color: #ffffff;
  }
  .search-button {
    display: flex;
  }
}

@media screen and (min-width: 801px) {
  .search-bar-component {
    display: block !important;
  }
}
