.product-details {
  padding: 10px;
  background-color: rgba(248, 248, 248, 0.815);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 500px;
}

.product-details-image {
  max-width: 80%;
  max-height: 100%;
  border-radius: 15px;
  margin: 10px;
}

/* Media queries */

@media all and (max-width: 699px) {

  .product-details {
    width: 250px;
  }

}

@media all and (max-width: 699px) and (min-width: 520px) {

  .product-details {
    width: 300px;
  }

}

@media all and (max-width: 1000px) and (min-width: 700px) {

  .product-details {
    width: 400px;
  }

}