<footer class="page-footer">
  <div class="container-fluid footer-info">
    <div class="footer-col">
      <h4 class="footer-col-title">
        Contact Information
      </h4>
      <ul class="footer-col-list">
        <li><a class="footer-info-link" href="">About us</a></li>
        <li><a class="footer-info-link" href="">Our franchising</a></li>
        <li><a class="footer-info-link" href="">Contact us</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4 class="footer-col-title">
        Customer Support
      </h4>
      <ul class="footer-col-list">
        <li><a class="footer-info-link" href="">Frequent questions</a></li>
        <li><a class="footer-info-link" href="">Shipping</a></li>
        <li><a class="footer-info-link" href="">Payment methods</a></li>
        <li><a class="footer-info-link" href="">Terms and conditions</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-links">
    <div class="footer-social-links">
      <a href="" class="social-link"><i class="social-icon fab fa-instagram"></i></a>
      <a href="" class="social-link"><i class="social-icon fab fa-facebook"></i></a>
      <a href="" class="social-link"><i class="social-icon fab fa-twitter"></i></a>
      <a href="" class="social-link"><i class="social-icon fab fa-youtube"></i></a>
    </div>
    <div class="footer-copyright">
      <p class="footer-copyright-content">
        Powered by
        <a href="" class="footer-copyright-creator">Gaspar</a>
        <span class="footer-copyright-year"> © 2020</span>
        - All rights reserved
      </p>
    </div>
  </div>
</footer>