<div class="search-bar-container">
  <div class="search-bar-content">
    <input class="search-bar" type="text" placeholder="Type here to search..." #searchBox id="search-box"
      (input)="search(searchBox.value)" />
    <ul class="search-result list-group list-group-flush">
      <li class="list-group-item" *ngFor="let product of (products$ | async) | slice:0:5; let i=index">
        <a class="list-group-link" routerLink="/detail/{{product.id}}" (click)="notify.emit()">
          {{ product.name }}
        </a>
      </li>
    </ul>
  </div>
</div>