@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
* {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: lighter;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background: #ffffff;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.site-container {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
  padding-bottom: 100px;
}

.page-section {
  margin: 10px;
}

.page-section-title {
  font-family: "Montserrat", sans-serif;
  color: #333;
  margin-top: 50px;
  margin-bottom: 50px;
  letter-spacing: -0.05em;
  font-size: 60px;
}

@media all and (max-width: 699px) {
  .page-section-title {
    font-size: 30px;
  }
}

@media all and (max-width: 699px) and (min-width: 520px) {
  .page-section-title {
    font-size: 38px;
  }
}

@media all and (max-width: 1000px) and (min-width: 700px) {
  .page-section-title {
    font-size: 44px;
  }
}

/* Generic button */

.button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  background-color: #1976d2;
  color: white;
  border: none;
  margin: 5px;
}

.button:hover,
button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled,
button:disabled {
  opacity: 0.5;
  cursor: auto;
}
